FILE_ALLOWED_TYPES=["text/plain", "application/pdf", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", "text/html", "text/markdown"]
FILE_MAX_SIZE=10
FILE_CHUNK_SIZE=512000 # 512 KB

# First 3 values here must match their corresponding ones in docker/env/.env.postgres
POSTGRES_USER="postgres"
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB="mini-rag"
POSTGRES_PORT=5432
POSTGRES_HOST="localhost"

# llms settings

GENERATION_MODEL_PROVIDER="cohere"
EMBEDDING_MODEL_PROVIDER="cohere"

OPENAI_API_KEY=
OPENAI_BASE_URL=
COHERE_API_KEY=
GOOGLE_API_KEY=

GENERATION_MODEL_ID=
EMBEDDING_MODEL_ID=

# note that some embedding model don't support specifying the embedding size
# in this case, comment out the 'EMBEDDING_SIZE' field below to avoid errors
# EMBEDDING_SIZE=

DEFAULT_MAX_OUTPUT_TOKENS=2000
DEFAULT_MAX_INPUT_CHARS=2200
DEFAULT_TEMPERATURE=0.6

# vector dbs settings

VECTORDB_PROVIDER=
VECTORDB_SIMILARITY_METRIC="cosine"
VECTORDB_INDEX_BUILDING_THRESHOLD=10000 # threshold after which to start building the vector index
VECTORDB_INDEX_TYPE="hnsw"

# pdf processing settings

SCANNED_PAGE_TEXT_MAX_LIMIT=
SCANNED_PAGE_MIN_RATIO_LIMIT=
CONVERSION_DPI=

## you can use ollama or HF
OCR_MODEL_ID=
OCR_MODEL_URL=
OCR_MODEL_API_KEY="ollama"
MAX_CONCURRENT_VLM_CALLS=5

# images cloudflare storage settings

R2_BUCKET_NAME=
R2_ACCOUNT_ID=
R2_PUBLIC_URL=
R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
