RABBITMQ_DEFAULT_USER=
RABBITMQ_DEFAULT_PASS=
RABBITMQ_DEFAULT_VHOST=minirag_vhost

# Management Plugin
RABBITMQ_MANAGEMENT_ENABLED=true  # enabled by default at the images with the "-management" prefix

# Authentication method
RABBITMQ_AUTH_BACKENDS=rabbit_auth_backend_internal
