REDIS_PASSWORD=

# for persistence storage. if set to no, it fallback to the RDB snapshots mechanism
REDIS_APPENDONLY=yes

REDIS_MAXMEMORY=512mb
REDIS_MAXMEMORY_POLICY=allkeys-lru

# protected mode works as an emergency fallback. 
# it blocks external connections in case no password is set
# i.e., if no password is set, it kicks in. Otherwise it's no-op 
REDIS_PROTECTED_MODE=yes