# values here must match their corresponding ones at 
# files: .env docker/env/.env.app
# and must be used at the docker/env/.env.postgres_exporter as well
POSTGRES_USER=
POSTGRES_PASSWORD= 
POSTGRES_DB=